*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    padding: 15px;
}

nav a{
    
    margin: 25px;
    text-decoration: none;
}
.box{
    position: relative;
    height: 300px;
    width: 200px;
    background-color: darkslategray;
    margin: 20px;
    transform: skewy(20deg);
    border: 1px solid ;
    animation: design 1s ease-in-out 1s infinite alternate ;
}
.container{
    
    height: 70vh;
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 20px;
}
.box1{
    background-image: url(satya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.box2{
    background-image: url(default-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 10px;
    
}
.box3{
    background-image: url(satya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer{
    position: fixed;
    bottom: 10px;
    background-color: aqua;
}
@keyframes design {
    from{
        transform: rotateX(45deg) ;
        right: 10px;
    }
    to{
        transform: rotateZ(20deg);
        right: 100px;
    }
}

